- name: Get user home directory
  tags: gh
  ansible.builtin.getent:
    database: passwd
    key: "{{ github_cli_user | default(ansible_user) }}"
  when: github_cli_gh_token != "insert_your_token"

- name: Create gh config directory
  become: true
  become_user: "{{ github_cli_user | default(ansible_user) }}"
  tags: gh
  ansible.builtin.file:
    path: "{{ getent_passwd[github_cli_user | default(ansible_user)][4] }}/.config/gh"
    state: directory
    mode: '0700'
  when: github_cli_gh_token != "insert_your_token"

- name: Configure gh CLI authentication
  become: true
  become_user: "{{ github_cli_user | default(ansible_user) }}"
  tags: gh
  ansible.builtin.copy:
    dest: "{{ getent_passwd[github_cli_user | default(ansible_user)][4] }}/.config/gh/hosts.yml"
    content: |
      github.com:
          user: {{ github_cli_username }}
          oauth_token: {{ github_cli_gh_token }}
          git_protocol: https
    mode: '0600'
  when: github_cli_gh_token != "insert_your_token"

- name: Install gh apt keys
  tags: gh
  become: true
  ansible.builtin.apt_key:
    url: https://cli.github.com/packages/githubcli-archive-keyring.gpg
    id: 2C6106201985B60E6C7AC87323F3D4EA75716059
    state: present
    keyring: /etc/apt/trusted.gpg.d/gh.gpg

- name: Install gh repo
  tags: gh
  become: true
  ansible.builtin.apt_repository:
    repo: >
      deb [arch={{ [ansible_architecture] | map('extract', github_cli_deb_architecture) | first }}]
      https://cli.github.com/packages stable main
    state: present

- name: Install gh
  tags: gh
  become: true
  ansible.builtin.apt:
    update_cache: true
    name: gh
    state: present
